@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSansFlex.ttf") format("truetype");
  font-display: swap;
}

html[data-theme="light"] {
  --color-scheme: light;
}
html[data-theme="dark"] {
  --color-scheme: dark;
}

:root {
  font-family:
    "Roboto",
    "Inter",
    "Google Sans",
    system-ui,
    -apple-system;
  box-sizing: border-box;
  color-scheme: var(--color-scheme);
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-size: 2rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.625rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.375rem;
  line-height: 1.2;
}
h4 {
  font-size: 1.2rem;
  line-height: 1.3;
}
h5 {
  font-size: 1rem;
  line-height: 1.4;
}
h6 {
  font-size: 0.875rem;
  line-height: 1.5;
}
input,
textarea {
  padding: 3px;
  font-size: 0.98rem;
}

button {
  font-size: 0.95rem;
  padding: 3px 5px;
}

img,
picture,
video {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* tablet styles */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  h1 {
    font-size: 2.4rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 2rem;
    line-height: 1.2;
  }
  h3 {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 1.2;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  h6 {
    font-size: 1rem;
    line-height: 1.3;
  }
}

/* Desktop design system */
@media screen and (min-width: 1280px) {
  body {
    font-size: 1.125rem;
    line-height: 1.6;
  }
  label {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  h3 {
    font-size: 2rem;
    line-height: 1.2;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  h5 {
    font-size: 1.25rem;
    line-height: 1.3;
  }
  h6 {
    font-size: 1rem;
    line-height: 1.4;
  }
  input,
  textarea {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
}

/* ultra wide min-width : 1560 */
/* moniter min-width: 2200px */
