.container {
  width: 100%;
  /* height: 100%; */
  padding: 10px;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; */
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin-top: 70px;
}
.waveImg > img {
  width: 70px;
  height: 70px;
}

.container > * {
  text-align: center;
}

.heading {
  color: transparent;
  background: linear-gradient(90deg, #2563eb, #9333ea);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ctaText {
  color: gray;
  margin-top: 0;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  width: 100%;
}

.form > div {
  display: flex;
  flex-direction: column;
}
.form > div > label {
  text-align: start;
  color: gray;
}

.form > div > input {
  border-radius: 5px;
  border: 1px solid blue;
  padding: 7px;
}

.form > div > input:focus {
  outline: 1px solid blue;
}

.form > button {
  font-size: 1.1rem;
  padding: 7px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #2563eb, #9333ea);
}

.registerLink {
  margin-top: 50px;
  color: gray;
}
