.article {
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 50px;
}

.thumbnail > img {
  aspect-ratio: 16/10;
  object-fit: cover;
  border-radius: 5px;
}

.header > h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.author,
.postInfo {
  max-width: max-content;
  padding: 0px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(80, 80, 80);
}
.author {
  margin: 0;
  background-color: #b2f5ea;
}

.postInfo {
  margin: 10px 0px;
  background-color: #e9d8fd;
}

.section {
  font-size: 1.1rem;
}
